body {
  margin: 0;
}

#game {
  position: relative;
}

#qrcode {
  display: none;
  position: absolute;
  top: 240px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 160px;
}

#qrcode.show {
  display: block;
}

#game canvas {
  border: 1px solid #000;
}
